{
  "extends": "airbnb",
  "rules": {
    "func-names": 0,
    "prefer-rest-params": 0,
    "no-underscore-dangle": 0,
    "import/no-extraneous-dependencies": 0
  },
  "globals": {
    "describe": true,
    "it": true,
    "beforeEach": true,
    "afterEach": true,
  }
}